@import url('https://fonts.googleapis.com/css2?family=Montserrat:400');


/* MAIN */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
}


/* NAVIGATION BAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 2%;
    background-color: rgb(80, 104, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a, h1{
    font-size: 19.5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    margin-left: 30px;
    transition: color 0.3s ease 0s;
}

.navbar a:hover {
    color:hsl(140, 100%, 80%);
}


.home .navbar a#active {
    border: 4px solid hsl(227, 46%, 43%);
    padding: 5px;
    background: hsl(227, 46%, 63%);
    border-radius: 15px;
}

.favorites .navbar a#active {
    border: 4px solid hsl(227, 46%, 43%);
    padding: 5px;
    background: hsl(227, 46%, 63%);
    border-radius: 15px;
}

.support .navbar a#active {
    border: 4px solid hsl(227, 46%, 43%);
    padding: 5px;
    background: hsl(227, 46%, 63%);
    border-radius: 15px;
}